body {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}

#hoverBlock {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}